*
  {font-family: 'Roboto', sans-serif;
}
body{
  background-color: #f6f6f6;
}

h1
 { text-align: center;
  padding: 40px 0px 10px;}
  
.container{
  background-color: white;
  border-radius: 3px;
  margin: 50px auto;
  width: 600px;
  height: 520px;
  box-shadow: 3px 3px 30px rgba(0,0,0,0.1);}

.button-row{
  text-align: center;
  margin: 0px auto;}
  
.btn{
  transition: box-shadow 0.3s;
  font-size: 24px;
  padding: 20px 25px;
  width: 150px;
  margin: 0px 10px 0px 10px;
  background-color: white;
  border: 4px solid grey;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 0px rgba(168,168,168,1);}
    
.btn:hover
  {box-shadow: 4px 4px 6px 0px rgba(168,168,168,1);}

//win, loss, draw message box placement
.game-message-placement{
  text-align: center;
  width: 300px;
  margin: 50px auto 0px;}
  
#game-message{
  font-size: 50px;
  height: 185px;
  height: 100px;
  padding-top: 5%;
}
  
.game-won
  {background-color:#8080ff; green;
  color: white ;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  margin: 50px auto 0px;
}
  
.game-draw
 { background-color: lightgrey;
  color: #545454;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  margin: 50px auto 0px;
}
  
.game-lose
  {background-color: red;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 300px;
  margin: 50px auto 0px;
}
  
.computer-message
  {
    font-size: 16px;
  }
  
.scoreboard-placement{
  margin: 0px 15px 0px 15px;
  border-top: 1px solid lightgrey;
  text-align: center;}
  
.scoreboard-row{
  font-size: 18px;
  display: inline-block;}
  
#playerWins{
  margin-right: 40px;}
  
#playerDraws
  
#playerLosses{
  margin-left: 40px;}
  
#reset-scores{
  text-align: center;
  margin: 0px auto;
  width: 100px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;}


  #ai-choice{
    color:#809fff;
    
  }